{% extends 'base.html.twig'  %}

 {% block javascript %}


 {% endblock %}


{% block body %}


<form action="/addAcceptMeet" method="Post">
<div id="add_meet">

 <div class="polel"> nazwa</div> 	<input type="text" class="poler" name="name" >
 <div class="polel"> opis</div> 	<textarea name="description" class="poler" style="width: 185px;" ></textarea>
 <div class="polel"> czas</div>		<input type="text" class="poler"  name="duration" >
 <div class="polel"> deadline </div>	<input type="datetime-local" style="float: left; margin-top: 5px;" name="deadline" >
 <input type ="submit" class="button" value="dodaj">

</div>
</form>



{% endblock %}




