{% extends 'base.html.twig'  %}

 {% block javascript %}


 {% endblock %}


{% block body %}


<div id="add_job" >

	stworz swoja lodowke
	<a href="/newFridge ">  <div class="button" style="margin-top: 0px">stworz</div> </a>
	
			<form action="/findFriend" method="Post">
			

			<div class="polel"> znajdz lodowke </div> <input type="text" class="poler" name="name" >
		
			<input type ="submit" class="button" value="szukaj">

		</form>
	
	
</div>


{% endblock %}

