{% extends 'base.html.twig' %}

{% block body %}
    <div id ="logframe">

        <div class ="tekst3">Zarejestruj się</div>
        {{form_start(form)}}
        {{form_widget(form)}}
        {{form_end(form)}}


        <div class ="tekst4" >Nie masz konta?   </div>
        <a href="/register" > <Button  class="button" /> Zarejestruj się </Button> </a>


    </div>



{% endblock %}

{% block stylesheets %}

    <style>




        #container
        {
            width: 1400px;
            height: 900px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 5px;
            text-align: center;
            font-size:10px;

        }




        body{
            background-color: #666666;
            font-family: 'Lato', sans-serif;
            font-size:10px;
        }


        #menu{
            float: left;
            width: 400px;
            height: 300px;

        }

        #user_panel{

            width: 385px;
            height: 135px;
            margin: 10px;
            background-color: #00EE22;
            margin-left:15px;

        }

        #user_panel:hover
        {
            background-color: #00DD11;
        }


        #tekst{
            width: 380px;
            height: 100px;
            text-align: center;
            font-family: 'Josefin Sans', sans-serif;
            font-size: 30px;
            color: white;
            padding-top: 50px;
        }


        #tekstt{
            width: 380px;
            height: 100px;
            text-align: center;
            font-family: 'Josefin Sans', sans-serif;
            font-size: 30px;
            color: white;
            padding-top: 35px;

        }


        #add_meet{

            width: 385px;
            height: 135px;
            margin-left:15px;
            background-color: #00CCCB;

        }

        #add_meet:hover
        {
            background-color: #00BBBA;
        }


        #list{

            float: left;
            width: 975px;
            height: 280px;
            margin:10px;
            background-color: lightgray;

        }


        #harm
        {
            clear: both;
            width: 1380px;
            height: 485px;
            margin: 10px;



        }


        .day{
            float: left;
            width: 187px;
            height: 470px;
            margin: 5px;
            background-color:#CAE593;

        }

        .task{
            float: left;
            width: 185px;
            margin: 5px;
            background-color:#C8FF65;
            font-family: 'Josefin Sans', sans-serif;

        }


        .task:hover{
            background-color:#A0D482;
        }

        .tekst2{
            width: 187px;
            height: 50px;
            text-align: center;
            font-family: 'Josefin Sans', sans-serif;
            font-size: 20px;
            color: gray;
            text-decoration: underline ;

        }

        .tekst3{
            width: 380px;
            height: 40px;
            text-align: center;
            font-family: 'Josefin Sans', sans-serif;
            font-size: 30px;
            color: white;
            margin-bottom: 10px;
            background-color:#00BBBA;
        }

        .tekst4{
            width: 150px;
            height: 40px;
            text-align: right;
            font-family: 'Josefin Sans', sans-serif;
            font-size: 20px;
            color: white;
            margin-top: 72px;
            float: left;

        }
        .tekst5{

            height: 30px;
            text-align: center;
            font-family: 'Josefin Sans', sans-serif;
            font-size: 30px;
            color: #ffffff;
            margin-bottom: 30px;

        }

        #logframe{
            width: 380px;
            height: 250px;

            text-align: center;
            font-family: 'Josefin Sans', sans-serif;
            font-size: 30px;
            color: white;
            background-color: #00CCCB;
            margin-left: auto;
            margin-right: auto;
            margin-top: 200px;


        }


        .polel{

            width: 190px;
            height: 20px;
            text-align: center;
            font-family: 'Josefin Sans', sans-serif;
            font-size: 20px;
            color: white;
            margin-top:10px;
            float: left;


        }

        .poler{

            width: 190px;
            height: 20px;
            text-align: left;
            font-family: 'Josefin Sans', sans-serif;
            font-size: 15px;
            color: white;
            margin-top:10px;
            float: left;


        }



        .button{
            width: 160px;
            height: 30px;
            font-family: 'Josefin Sans', sans-serif;
            font-size: 18px;
            text-align: center;
            color: white;
            float: right;
            background-color:#00BBBA;
            box-shadow: 0 3px 3px #00AAA5;
            text-decoration:none;
            margin-top: 10px;
            margin-right: 27px;
            margin-bottom: 20px;

        }

        a.button:hover {
            background: #00AAA5;

        }
        #myBtn{
            width: 100px;
            height: 30px;
            margin-left:auto;
            margin-right:auto;
            font-family: 'Josefin Sans', sans-serif;
            font-size: 18px;
            color: white;
            background-color:#00BBBA;
            box-shadow: 0 3px 3px #00AAA5;
            text-decoration:none;

        }

        #myBtn:hover {
            background: #00AAA5;

        }

        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        /* Modal Content/Box */
        .modal-content {
            background-color: gray;
            color:#00AAA5;
            margin: 15% auto; /* 15% from the top and centered */
            padding: 20px;
            border: 1px solid #888;
            width: 380px;
            height:250px;/* Could be more or less, depending on screen size */
        }

        /* The Close Button */
        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

    </style>
{% endblock %}
